<li class="reviews__item">
  <div class="reviews__user user">
    <div class="reviews__avatar-wrapper user__avatar-wrapper">
      <img
        class="reviews__avatar user__avatar"
        src="{{ comment.user.avatarUrl }}"
        width="54"
        height="54"
        alt="Reviews avatar"
      />
    </div>
    <span class="reviews__user-name"> {{ comment.user.name }} </span>
  </div>
  <div class="reviews__info">
    <div class="reviews__rating rating">
      <div class="reviews__stars rating__stars">
        <span [style.width.%]="Math.round(comment.rating) * 20"></span>
        <span class="visually-hidden">Rating</span>
      </div>
    </div>
    <p class="reviews__text">
      {{ comment.comment }}
    </p>
    <time class="reviews__time" [attr.datetime]="comment.date | formatDate">{{
      comment.date | formatDate
    }}</time>
  </div>
</li>
