@if (offer() === undefined) {
  <app-loader></app-loader>
} @else {
  <div class="page">
    <app-header></app-header>
    <main class="page__main page__main--offer">
      <section class="offer">
        <div class="offer__gallery-container container">
          <div class="offer__gallery">
            @for (image of offer()?.images; track image) {
              <div class="offer__image-wrapper">
                <img
                  class="offer__image"
                  src="{{ image }}"
                  alt="Photo studio"
                />
              </div>
            }
          </div>
        </div>
        <div class="offer__container container">
          <div class="offer__wrapper">
            @if (offer()?.isPremium) {
              <div class="offer__mark">
                <span>Premium</span>
              </div>
            }
            <div class="offer__name-wrapper">
              <h1 class="offer__name">
                {{ offer()?.title }}
              </h1>
              <button class="offer__bookmark-button button" type="button">
                <svg class="offer__bookmark-icon" width="31" height="33">
                  <use xlink:href="#icon-bookmark"></use>
                </svg>
                <span class="visually-hidden">To bookmarks</span>
              </button>
            </div>
            <div class="offer__rating rating">
              <div class="offer__stars rating__stars">
                <span [style.width.%]="(offer()?.rating ?? 0) * 20"></span>
                <span class="visually-hidden">Rating</span>
              </div>
              <span class="offer__rating-value rating__value">{{
                offer()?.rating
              }}</span>
            </div>
            <ul class="offer__features">
              <li class="offer__feature offer__feature--entire">
                {{ offer()?.type | capitalize }}
              </li>
              <li class="offer__feature offer__feature--bedrooms">
                {{ offer()?.bedrooms }}
                {{ (offer()?.bedrooms ?? 0) > 1 ? "Bedrooms" : "Bedroom" }}
              </li>
              <li class="offer__feature offer__feature--adults">
                Max {{ offer()?.maxAdults }}
                {{ (offer()?.maxAdults ?? 0) > 1 ? "adults" : "adult" }}
              </li>
            </ul>
            <div class="offer__price">
              <b class="offer__price-value">&euro;{{ offer()?.price }}</b>
              <span class="offer__price-text">&nbsp;night</span>
            </div>
            <div class="offer__inside">
              <h2 class="offer__inside-title">What&apos;s inside</h2>
              <ul class="offer__inside-list">
                @for (item of offer()?.goods; track item) {
                  <li class="offer__inside-item">{{ item }}</li>
                }
              </ul>
            </div>
            <div class="offer__host">
              <h2 class="offer__host-title">Meet the host</h2>
              <div class="offer__host-user user">
                <div
                  class="offer__avatar-wrapper offer__avatar-wrapper--pro user__avatar-wrapper"
                >
                  <img
                    class="offer__avatar user__avatar"
                    src="{{ offer()?.host?.avatarUrl }}"
                    width="74"
                    height="74"
                    alt="Host avatar"
                  />
                </div>
                <span class="offer__user-name">
                  {{ offer()?.host?.name }}
                </span>
                <span class="offer__user-status">
                  {{ offer()?.host?.isPro }}
                </span>
              </div>
              <div class="offer__description">
                <p class="offer__text">
                  {{ offer()?.title }}
                </p>
              </div>
            </div>
            <section class="offer__reviews reviews">
              <h2 class="reviews__title">
                Reviews &middot;
                <span class="reviews__amount">{{ commentsCount() }}</span>
              </h2>
              <app-comment-list [comments]="comments()"></app-comment-list>
              @if (authStatus() === AuthorizationStatus.AUTH) {
                <app-comment-form
                  [commentId]="offerId()"
                  (commentPosted)="onCommentPosted($event)"
                ></app-comment-form>
              }
            </section>
          </div>
        </div>
        <section class="offer__map map"></section>
      </section>
      <div class="container">
        <section class="near-places places">
          <h2 class="near-places__title">Other places in the neighbourhood</h2>
          <div class="near-places__list places__list">
            @for (offer of nearbyOffers() | firstOffers; track offer.id) {
              <app-card [offer]="offer"></app-card>
            }
          </div>
        </section>
      </div>
    </main>
  </div>
}
