<header class="header">
  <div class="container">
    <div class="header__wrapper">
        <div class="header__left">
          <a
            class="header__logo-link header__logo-link--active"
            [routerLink]="[AppRoute.MAIN]"
          >
            <img
              class="header__logo"
              src="img/logo.svg"
              alt="6 cities logo"
              width="81"
              height="41"
            />
          </a>
        </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          @if (authStatus() === AuthorizationStatus.AUTH) {
            <li class="header__nav-item user">
              <a class="header__nav-link header__nav-link--profile" href="#">
                <div class="header__avatar-wrapper user__avatar-wrapper"></div>
                <span class="header__user-name user__name"
                >{{email()}}</span
                >
                <span class="header__favorite-count">3</span>
              </a>
            </li>
          }
          <li class="header__nav-item">
            <a (click)="onSignOut()" class="header__nav-link" [routerLink]="[authStatus() !== AuthorizationStatus.AUTH ? AppRoute.LOGIN : '']">
              <span class="header__signout">{{authStatus() === AuthorizationStatus.AUTH ? 'Sign out' : 'Log in'}}</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
